/* <!-- Purnak Vitalina, P-31, Laboratorna robota 9-10 --> */
body{
    font-family: Arial, Sans-Serif;
    font-size: 100%;
}
ul{
    margin: 0;
    padding: 0;
}
ul li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
p{
    font-size: 13px;
    line-height: 1.3em;
}
.container{
    margin: 0 auto;
    width: 960px;
}
header{
    padding: 5px 0;
    background-color: yellowgreen;
}
header h1,
header h2{
    color: greenyellow;
    text-align: center;
}
/* <!-- Purnak Vitalina, P-31, Laboratorna robota 9-10 --> */
nav{
    background-color: #222;
    border-color: #101010;
    min-height: 64px;
}
nav li{
    float: left;
    width: 100px;
}
nav a{
    display: block;
    color: #9d9d9d;
    line-height: 4em;
    font-weight: bold;
    text-align: center;
}
nav li a:hover{
    color: yellowgreen;
    background-color: black;
}
/* <!-- Purnak Vitalina, P-31, Laboratorna robota 9-10 --> */
form{
    padding: 15px 0;
    float: right;
}
form input[type="text"],
form input[type="password"]{
    padding: 5px;
    margin-right: 5px;
    border: 1px solid transparent;
    border-radius: 5px;
    outline: none;
}
form input[type="submit"]{
    padding: 5px 15px;
    border: 1px solid lightgrey;
    border-radius: 5px;
}
form input[type="submit"]:hover,
button:hover{
    background-color: darkgrey;
    color: white;
}
/* <!-- Purnak Vitalina, P-31, Laboratorna robota 9-10 --> */
main{
    overflow: auto;
}
main h2{
    padding-bottom: 5px;
    border-bottom: 1px solid #777;
    font-size: 36px;
}
main small{
    color: #777;
    font-size: 70%;
}
.main img{
    display: inline-block;
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    width: 33.33%;
    box-sizing: border-box;
}
main > div:first-child{
    padding-left: 0;
    padding-right: 5px;
}
main div{
    border: 1px solid #959595;
}
/* <!-- Purnak Vitalina, P-31, Laboratorna robota 9-10 --> */
main img,
main video{
    width: 25%;
}
main{
    padding: 0 200px 20px 200px;
}
main h3{
    color: yellowgreen;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
main p{
    max-height: 80px;
    overflow: hidden;
}
main button{
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 5px;
    outline: none;
}
/* <!-- Purnak Vitalina, P-31, Laboratorna robota 9-10 --> */
footer{
    background-color: yellowgreen;
    color: white;
    padding: 20px 0;
    margin-top: 30px;
}